<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Cidades</h1>
<a href="{% url 'cadastrar_cidade' %}">Cadastrar Nova Cidade</a>
<ul>
    {% for cidade in cidades %}
    <li>
        {{ cidade.nome }} - {{ cidade.estado }}
        <a href="{% url 'editar_cidade' cidade.id %}">Editar</a> |
        <a href="{% url 'excluir_cidade' cidade.id %}">Excluir</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>